h1 span {
    color: rgb(249, 210, 36);
}

h1 {
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .navbar {
    border-radius: 8px;
    margin-bottom: 50px;
    background: #7474BF;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #348AC7, #7474BF);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #348AC7, #7474BF);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navlink {
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
    
}

.navlink:hover {
    color: #f6ff00 ;
    transform: scale(1.1);
}



.navlinks {
    display: flex;
    gap: 15px;
}



