.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 60px;
    
}

.meal-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.meal-card:hover {
    transform: translateY(-5px);
}

.meal-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 3px solid #ff6600;
}

.meal-card h3 {
    font-size: 1.2rem;
    color: #ffd700;
    text-align: center;
    padding: 15px;
    font-family: "Caveat", cursive;
}