.addForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    padding: 30px;
    border-radius: 12px;

}

.addForm input {
    width: 250px;
    height: 30px;
    padding: 5px;

}

.addBtn {
    width: 80px;
    height: 20px;
    border-radius: 12px;
    background-color: rgb(249, 210, 36);
    color: #547FC3 ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s ease-in-out;

    outline: none;
    border: none;
    cursor: pointer;
}

.addBtn:hover {
    transform: scale(1.1);
    color: #326cc9;;
} 

.error {
    color: red;
}