* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: $font-stack;
    background: linear-gradient(236.56deg, #2C2D65 0.35%, #201F22 100%);
    
}

.container {
    max-width: 950px;
    padding: 10px 60px;
    display: flex;
    justify-content: center;
    min-width: 365px;
    
}




ul, a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

img {
    width: 100%;
    object-fit: cover;
}

header {
    margin-bottom: 100px;
    margin-top: 30px;
   
   
    
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;

}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.topBox::before { 
    content: "";
    position: absolute;
    width: 142px;
    height: 153px;
    top: -15%;
    left: -8%;
    background-image: url(https://s3-alpha-sig.figma.com/img/5e62/9250/ae47f7c8069b4507928c9be64373f068?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=LPdic1rLUXqofn4zSjbBIk1T0LNHRGUPENqRtTqeePgP~sTOt3kxCSyd~U4or8V2wtg8DbYf2KG4W5V15Ofj7ikWxbQc5HikDPWwBRn-92ngd~yt9SI1n1QWxYYH9k2~giJsLt26WjbPHi5n1rDW5cY2Kw4mUmEdZAUSepdZW7VUGc~q0We0Gv1UPr76n2-v38pYF4S7gkDy3TncsEXNx1o1C5qv46-5MKQxPOQp1KupcW3~c5cpBDRT8QS1Rls3XvquHauvwLMvXPXZ-ukkZo1rAmBRO~NZHDv8grVXqPuqk5yOm5YN9qqZuqr4O9vdFeVWPAYCTO3icFbu6Np8IA__);
    background-size: contain;
}

.topBox {
    position: relative;
    
    margin-bottom: 60px;

    .title {
        margin-bottom: 25px;
    }
    .subtitle {
        margin-bottom: 25px;
    }
    p {
        margin-bottom: 25px;
    }
} 

.topBox::after {
    content: "";
    position: absolute;
    width: 181px;
    height: 184px;
    top: 72%;
    left: 42%;
    background-image: url(https://s3-alpha-sig.figma.com/img/7646/5e06/9622537eb9e87abe582f1b783526ca32?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Zr7wGx7mOd0E4qJHtr8HcLIz6R73plHFrxG5-JZRWpE3OZEQWu0F--N3v4hdzuYQ-bkTOIOM~OPDbehGqfWM-kkRTym4y4tzk3bkepjfLH4EugnwRAF1P1-m4X6dIx4oddV~d4~AsFYIu00WNwVGniZPV9NJXAP1boPCJShfyHFd98-QM~EQkYgrGjoKeP9G15HT~IVYoUQkUGLMVj2151A1Jj81qc~t~byKPB35m5dvD-N6KjF7ZRCCLtWRUzNluqUJYYWUa3vSEj4TnqYNE-ViQx8jf2NkHKezMnJBjYb-MiC64mVF8145geuuVraAmO1oWTmsRZW1j8blJbLBSA__);
    background-size: contain;
}

.midBox {
    margin-top: 50px;
}

.botBox {
    display:flex;
    flex-direction: column;
    gap: 15px;
    justify-content: left;
    padding-left:60px;
    padding-bottom: 60px;
   
} 



.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}
.articles .intro .title {
    position:relative
}
.articles .intro .title::before {
    content: "";
    position: absolute;
    width: 142px;
    height: 153px;
    top: -70%;
    left: -20%;
    background-image: url(https://s3-alpha-sig.figma.com/img/5e62/9250/ae47f7c8069b4507928c9be64373f068?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=LPdic1rLUXqofn4zSjbBIk1T0LNHRGUPENqRtTqeePgP~sTOt3kxCSyd~U4or8V2wtg8DbYf2KG4W5V15Ofj7ikWxbQc5HikDPWwBRn-92ngd~yt9SI1n1QWxYYH9k2~giJsLt26WjbPHi5n1rDW5cY2Kw4mUmEdZAUSepdZW7VUGc~q0We0Gv1UPr76n2-v38pYF4S7gkDy3TncsEXNx1o1C5qv46-5MKQxPOQp1KupcW3~c5cpBDRT8QS1Rls3XvquHauvwLMvXPXZ-ukkZo1rAmBRO~NZHDv8grVXqPuqk5yOm5YN9qqZuqr4O9vdFeVWPAYCTO3icFbu6Np8IA__);
    background-size: contain;
}

.articles .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 40px;
}



.article {
    background: linear-gradient(180deg, #4D4F95 0%, #2B2D66 100%);
    border-radius: 12px;
    border: 2px solid #FFFFFF14
    
}

.texte {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.date {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
} 

.social {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.line {
    margin-top: 25px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
}

footer {
    margin-top: 60px;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    /* padding-left: 30px; */
    margin-bottom: 30px;
    margin-top: 10px;
    
  }

  .copyright {
    margin-left: 60px;
  }
.legal {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 60px;
  }






