

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 35px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.pink {
    background-color: pink;
}

.aqua {
    background-color: aqua;
}

