@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
}

body {
    background-color: #D74949;
    margin: auto;
    min-height: 100%;

}

.container {
    position: relative;
    margin: 0 auto;
    /* max-width: 77%; */
    max-width: 1110px;
    width: 100%;
    background-color: #F3F3F3;
    min-height: 100vh;
    

}

h1 {
    display: block;
    font-family: "Roboto", sans-serif; ;
    font-weight: 800;
    font-size: 14px;
    line-height: 16.41px;
    padding-left: 49px;
    padding-top: 64px;
    border: 1px;
    text-shadow: 0px 4px 4px #00000040;
    
}

h2 {
    display: block;
    font-family: "Roboto", sans-serif; ;
    font-weight: 800;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 7%;
    text-align: right;
    padding-right: 49px;

}

p {
    display: block;
    font-family: "Roboto", sans-serif; ;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    text-align: center;
    text-transform: uppercase
}

p span {
    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: #6b1c04;
    text-align: center;
    
}

.rectangle {
    margin-top: 38px;
    margin-left: 49px;
    width: 200px;
    height: 300px;
    top: 215px;
    left: 215px;
    gap: 0px;
    border-radius: 15px 15px 15px 15px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;


}

.boy {
    margin-top: 0px;
    margin-left: 0px;
    width: 200px;
    height: 185px;
    top: 215px;
    left: 215px;
    gap: 0px;
    border-radius: 15px 15px 0px 0px;
    opacity: 0px;
    
}

.rectangle p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: none;
    margin-left: 18px;
    margin-top: 22px;

}

.rectangle p:nth-of-type(2) {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 16.41px;
    text-align: left;
    margin-top: 2px;
    letter-spacing: 0.2px;



}

.linkedin {
    width: 18px;
    height: 18px;
    margin-left: 18px;
    margin-top: 12px;
    gap: 0px;
    opacity: 0px;



}

.whatsapp {
    width: 18px;
    height: 18px;
    top: 465px;
    left: 261px;
    gap: 0px;
    opacity: 0px;
    margin-left: 2px;

}

.ellipse {
    width: 54px;
    height: 54px;
    background: #D9D9D9;
    border-radius: 35px 35px 35px 35px;
    margin-left: 152px;
    margin-top: -5px;
    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
    background-color: #3A3A3A;
    line-height: 70px;
    text-align: center;
}

footer p {
    display: inline-block;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif; 
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin: auto;
    text-transform: none;
    
    
}
